@model StunduSaraksts.Models.ReservationAdminForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Rezervācija</h1>

<h4>Apstiprināt</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
        else
        {
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <p class="col-sm-2"><b>Autors</b></p>
            <p class="col-sm-10">@ViewBag.reservation.OwnerNavigation.FullName</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Datums</b></p>
            <p class="col-sm-10">@ViewBag.reservation.StartTime.ToString("dd.MM.yyyy")</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Sākuma laiks</b></p>
            <p class="col-sm-10">@ViewBag.reservation.StartTime.TimeOfDay</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Beigu laiks</b></p>
            <p class="col-sm-10">@ViewBag.reservation.EndTime.TimeOfDay</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Kabineta nr.</b></p>
            <p class="col-sm-10">@ViewBag.reservation.RoomNavigation.Name</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Autora komentārs</b></p>
            <p class="col-sm-10">@ViewBag.reservation.RequestComment</p>
        </div>


        <div class="form-group row">
            <label asp-for="ReplyComment" class="control-label col-sm-2 col-form-label"><b>Atbildes komentārs</b></label>
            <div class="col-sm-10">
                <textarea asp-for="ReplyComment" class="form-control"></textarea>
                <span asp-validation-for="ReplyComment" class="text-danger"></span>
            </div>
            
        </div>
        <input id="accepted" type="hidden" asp-for="Accepted" value="true">
        <!--
    <div class="form-group">
        <label asp-for="Accepted" class="control-label"></label>
        <input asp-for="Accepted" class="form-control" />
        <span asp-validation-for="Accepted" class="text-danger"></span>
    </div>
        -->
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-10 d-flex justify-content-between">
                <input id="allowBtn" type="submit" value="Apstiprināt" class="btn btn-primary" onclick="allowReservation()" />
                <input id="rejectBtn" type="submit" value="Noraidīt" class="btn btn-danger" onclick="rejectReservation()" />
                <a class="btn btn-secondary" asp-action="Index">Atcelt</a>
            </div>
        </div>
    </form>
        }
    </div>
</div>

<script>
    function allowReservation() {
        var acc = document.getElementById("accepted");
        acc.setAttribute("value","true")
        
    }
    function rejectReservation() {
        var acc = document.getElementById("accepted");
        acc.setAttribute("value", "false")
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
