@model StunduSaraksts.Models.ReservationAdminForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
        else
        {
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div>Kabineta rezervācijas autors: @ViewBag.reservation.OwnerNavigation.FullName </div>
        <div>Kabineta rezervācijas datums: @ViewBag.reservation.StartTime.Day / @ViewBag.reservation.StartTime.Month / @ViewBag.reservation.StartTime.Year</div>
        <div>Kabineta rezervācijas sākuma laiks: @ViewBag.reservation.StartTime.TimeOfDay</div>
        <div> Rezervācijas beigu laiks: @ViewBag.reservation.EndTime.TimeOfDay</div>
        <div>Kabinets: @ViewBag.reservation.RoomNavigation.Name</div>
        <div>Autora komentārs: @ViewBag.reservation.RequestComment</div>

        <div class="form-group">
            <label asp-for="ReplyComment" class="control-label"></label>
            <input asp-for="ReplyComment" class="form-control" />
            <span asp-validation-for="ReplyComment" class="text-danger"></span>
        </div>
        <input id="accepted" type="hidden" asp-for="Accepted" value="true">
        <!--
    <div class="form-group">
        <label asp-for="Accepted" class="control-label"></label>
        <input asp-for="Accepted" class="form-control" />
        <span asp-validation-for="Accepted" class="text-danger"></span>
    </div>
        -->
        <div class="form-group">
            <input id="allowBtn" type="submit" value="Apstiprināt" class="btn btn-primary" onclick="allowReservation()" />
            <input id="rejectBtn" type="submit" value="Noraidīt" class="btn btn-danger" onclick="rejectReservation()" />
        </div>
    </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function allowReservation() {
        var acc = document.getElementById("accepted");
        acc.setAttribute("value","true")
        
    }
    function rejectReservation() {
        var acc = document.getElementById("accepted");
        acc.setAttribute("value", "false")
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
