@model IEnumerable<StunduSaraksts.ModelsDB.Reservation>

@{
    ViewData["Title"] = "Index";
}



@if (((StunduSaraksts.ModelsDB.AspNetUser)ViewData["user"]).IsAdmin())
{
    <h1>Rezervācijas</h1>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#selector').on('change', function () {
                if (this.value == "Jaunas") {
                    $('#new').show();
                    $('#accepted').hide();
                    $('#declined').hide();
                } else if (this.value == "Apstiprinātās") {
                    $('#new').hide();
                    $('#accepted').show();
                    $('#declined').hide();
                } else if (this.value == "Noraidītās") {
                    $('#new').hide();
                    $('#accepted').hide();
                    $('#declined').show();
                }
            });
            $('#accepted').hide();
            $('#declined').hide();
        });
    </script>
    <p>
        <a asp-action="Create">Izveidot jaunu</a>
    </p>

    <select id="selector" class="form-control float-right w-25 mb-1">
        <option selected>Jaunas</option>
        <option>Apstiprinātās</option>
        <option>Noraidītās</option>
    </select>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Lietotājs
                </th>
                <th>
                    Datums
                </th>
                <th>
                    Sākuma laiks
                </th>
                <th>
                    Beigu laiks
                </th>
                <th>
                    Kabinets
                </th>
                <th>
                    Komentārs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="new">
            @foreach (var item in Model.ToList().Where(m => m.Canceled != true && m.Accepted is null).OrderBy(m => m.StartTime).Select(m => m))
            {
                <tr>
                    <td>
                        @item.OwnerNavigation.FullName
                    </td>
                    <td>
                        @item.StartTime.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.StartTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.EndTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.RoomNavigation.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Apstiprināt</a>
                    </td>
                </tr>
            }
        </tbody>
        <tbody id="accepted">
            @foreach (var item in Model.ToList().Where(m => m.Canceled != true && m.Accepted == true).OrderBy(m => m.StartTime).Select(m => m))
            {
                <tr>
                    <td>
                        @item.OwnerNavigation.FullName
                    </td>
                    <td>
                        @item.StartTime.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.StartTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.EndTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.RoomNavigation.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tbody id="declined">
            @foreach (var item in Model.ToList().Where(m => m.Canceled != true && m.Accepted == false).OrderBy(m => m.StartTime).Select(m => m))
            {
                <tr>
                    <td>
                        @item.OwnerNavigation.FullName
                    </td>
                    <td>
                        @item.StartTime.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.StartTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.EndTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.RoomNavigation.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Manas rezervācijas</h1>
    <p>
        <a asp-action="Create">Izveidot jaunu</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Datums
                </th>
                <th>
                    Sākuma laiks
                </th>
                <th>
                    Beigu laiks
                </th>
                <th>
                    Kabinets
                </th>
                <th>
                    Komentārs
                </th>
                <th>
                    Statuss
                </th>
                <th>
                    Administratora komentārs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="new">
            @foreach (var item in Model.ToList().Where(m => m.Canceled != true && ((StunduSaraksts.ModelsDB.AspNetUser)ViewData["user"]).Id == m.OwnerNavigation.Id).OrderBy(m => m.StartTime).Select(m => m))
            {
                <tr>
                    <td>
                        @item.StartTime.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.StartTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.EndTime.TimeOfDay.ToString()
                    </td>
                    <td>
                        @item.RoomNavigation.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComment)
                    </td>
                    <td>
                        @((item.Accepted == null) ? "Nav apskatīts" : (item.Accepted == true) ? "Apstiprināts" : "Noraidīts")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReplyComment)
                    </td>
                    <td>
                        <form asp-action="Delete">
                            <input type="hidden" name="id" value="@item.Id"/>
                            <input type="submit" value="Atcelt" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}